[submodule "source/SuperUserLib3DS"]
	path = source/SuperUserLib3DS
	url = https://github.com/delebile/SuperUserLib3DS
[submodule "source/svchax"]
	path = source/svchax
	url = https://github.com/aliaspider/svchax.git
